*{
    margin: 0;
    padding: 0;
}
img{
    height: 90px;
    }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
 font-size: 1.5rem;
 list-style: none;
 display: flex;
 margin-right: 80px;
}
nav ul li{
      margin: 30px;
}

a{
    text-decoration: none;
}

.main{

    background: rgb(211, 209, 209);
    height: 550px;
    width: 1388px;
    margin: auto;
}

h2{
    margin-left: 12px;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}

.div1{

    background: rgb(233, 230, 223);
    height: 450px;
    width: 700px;
    margin-left: 10px;
    float: left;
}

.div2{

    background:rgb(233, 230, 223);
    height: 450px;
    width: 650px;
    float:left;
    margin-left: 15px;
    
 }